@using IABRS.Models

<!--File: YourProfile.cshtml
    Purpose: This is the user's profile page displaying their full name and username-->

@{
    ViewData["Title"] = "YourProfile";
}

@{
   var Userdata = (User)ViewData["UserInfo"];
    var courseData = (List<CourseUser>)ViewData["courseInfo"];

}

<h1>@Userdata.Fname's Profile</h1>

<div class="text-center">

</div>
<!--<div class="container">
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">-->
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Your Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="YourProfile">Your Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SellBooks">Settings</a>
    </li>

</ul>
<div class="text-left">
    <h4>Name: @Userdata.Fname &nbsp;   @Userdata.Mname &nbsp;   @Userdata.Lname</h4>
    <h4>Username: @Userdata.Username</h4>
</div>

<!--Display the courses that the user is in-->
<div class="text-left">
    <h4>Your Courses: </h4>
    <table>
        <tr>
            <th>Code:</th>
            <th>Name:</th>
        </tr>
        @foreach (var course in courseData)
        {
            <tr>
                <td>@course.Course.Code</td>
                <td>@course.Course.Name</td>
            </tr>
        }

    </table>

   
</div>
