@model IEnumerable<Institution>
@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

@{
    ViewBag.Title = "All Institutions";
}

    <h1>All Institutions</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="RegisterInstitution"
       asp-controller="sysadmin">Register new Institution</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteInstitution" asp-route-id="@role.Id" method="post">

                    <a class="btn btn-primary" asp-action="EditInstitution" asp-controller="sysadmin"
                       asp-route-id="@role.Id">Edit</a>
                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
                </form>



            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Institutions created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create an Institution
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="sysadmin" asp-action="RegisterInstitution">
                Create Institution
            </a>
        </div>
    </div>

}